<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100" *ngIf="habili">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" >
            <div class="card-body p-4 p-md-5">
              <h3 class=" text-center mb-4 pb-2 pb-md-0 mb-md-5">Editar Habilidades</h3>
              <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">  
                <div class="row">
                  <div>  
                    <div class="form-group">
                        <label for="nombreH"> Nombre de la Habilidad</label>
                        <input type="text" class="form-control" id="nombreH" name="nombreH" [(ngModel)]="habili.nombreH" required>
                    </div>
                  </div>
                  <br>                  
                  <br>                  
                  <br>
                  <br>    
                  <div>  
                    <div class="form-group">
                        <label for="valorH"> Valor de la Habilidad</label>
                        <input type="number" class="form-control" id="valorH" name="valorH" [(ngModel)]="habili.valorH" required>
                    </div>  
                  </div>
                </div>
                <br>
                <br>                            
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
