<!--<p>habilidades works!</p>-->
<div class="row">
    <h1> Hard & Soft Skills</h1>   
    <div >
        <button aria-label="Nueva" type="button" class="btn btn-dark" routerLink="/nuevahabili" *ngIf="isLogged">
            Nueva Habilidad
        </button>
    </div> 
    <br>
    <br>
    <br>
    <div class=" text-center justify-content-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let Habilidades of habilidad">       
        <circle-progress 
        [percent]="(Habilidades.valorH)" 
        [title]="(Habilidades.nombreH)"
        [radius]="100" 
        [titleColor]="'#000000'" 
        [showUnits]="false" 
        [showImage]="false"
        [imageSrc]="''" 
        [imageHeight]="90" 
        [imageWidth]="90" 
        [showSubtitle]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8" 
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'"
        [animation]="true" 
        [animationDuration]="1000">        
        </circle-progress>


        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/edithabili/{{Habilidades.id}}">
                <i class="bi bi-pencil-square"></i>Editar</button>
            </td>

            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(Habilidades.id)">
                <i class="bi bi-trash"></i> Borrar</button>
            </td>
        </div>

        





    </div>
    <!--<div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <h4>Experiencia CSS</h4>
        <circle-progress [percent]="85" [radius]="100" [showUnits]="false" [showImage]="true"
            [imageSrc]="'../assets/CSS.png'" [imageHeight]="90" [imageWidth]="90" [showSubtitle]="false"
            [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="1000"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>Experiencia Java</h4>
        <circle-progress [percent]="85" [radius]="100" [showUnits]="false" [showImage]="true"
            [imageSrc]="'../assets/js.png'" [imageHeight]="90" [imageWidth]="90" [showSubtitle]="false"
            [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="1000"></circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <h4>Inteligencia Social</h4>
        <circle-progress [percent]="85" [radius]="100" [showUnits]="false" [showImage]="true"
            [imageSrc]="'../assets/git.png'" [imageHeight]="90" [imageWidth]="90" [showSubtitle]="false"
            [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="1000"></circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <h4>Liderazgo</h4>
        <circle-progress [percent]="85" [radius]="100" [showUnits]="false" [showImage]="true"
            [imageSrc]="'../assets/grupal.png'" [imageHeight]="90" [imageWidth]="90" [showSubtitle]="false"
            [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="1000"></circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <h4>Responsabilidad</h4>
        <circle-progress [percent]="85" [radius]="100" [showUnits]="false" [showImage]="true"
            [imageSrc]="'../assets/eng.png'" [imageHeight]="90" [imageWidth]="90" [showSubtitle]="false"
            [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="1000"></circle-progress>
    </div>-->  
</div>