<div class="container" *ngIf="educ">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <br>
                <div class="form-group">
                    <label for="nombreEd"> Nombre de la Institucion</label>
                    <input type="text" class="form-control" id="nombreEd" name="nombreEd" [(ngModel)]="educ.nombreEd" required>
                </div>

                <div class="form-group">
                    <label for="descripcionEd"> Descripción de la Carrera</label>
                    <input type="text" class="form-control" id="descripcionEd" name="descripcionEd" [(ngModel)]="educ.descripcionEd" required>
                </div>
              <br>
              <br>
              <br>
                <button type="submit" class="btn btn-primary">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>
