<div class="row">
    <H1>Educacion</H1>
    <div class="col-lg-2">
        <button aria-label="Nueva" type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Nueva Educacion
        </button>

    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of edu">
                    <td>
                        <h5>{{Educacion.nombreEd}}</h5>
                    </td>
                    <td>{{Educacion.descripcionEd}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                        <i class="bi bi-pencil-square"></i>Editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Educacion.id)">
                        <i class="bi bi-trash"></i> Borrar</button>
                    </td>
                </tr>
            <tbody>
        </table>
    </div>
</div>
<!--<p>educacion works!</p>
<div class="row">
    <H1>Educacion</H1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Colegio </h2> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, necessitatibus explicabo? Debitis distinctio nemo qui, voluptatibus tenetur quod ratione, magnam quasi fuga maiores est, similique laboriosam! Praesentium deserunt nisi sit?</p>
            <li><h2>Universidad </h2> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, necessitatibus explicabo? Debitis distinctio nemo qui, voluptatibus tenetur quod ratione, magnam quasi fuga maiores est, similique laboriosam! Praesentium deserunt nisi sit?</p>
            <li><h2>Curso</h2> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, necessitatibus explicabo? Debitis distinctio nemo qui, voluptatibus tenetur quod ratione, magnam quasi fuga maiores est, similique laboriosam! Praesentium deserunt nisi sit?</p>

        </ul>
    </div>
</div>-->


