.row{
    background-color: #a1b5cb;    
}

footer{
    color: #fafafa;
    font-size: 14px;
    display:flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 5px -5px 10px #999;
}