<!-- <p>acerca-de works!</p> -->
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.JPG" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <!--<p id="nombre"> Pablo Alberto Hernandez Pardini</p>-->
        <p id="nombre"> {{persona.nombre}} {{persona.apellido}} </p>
        <br>       
        <p>Full Stack Developer Jr</p>
        <br>
        </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
        <h1>Acerca de Mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nesciunt quis eveniet iusto ad quidem accusantium vero odio suscipit ipsum sint,
        unde explicabo expedita debitis quas magni laboriosam, incidunt reiciendis nulla!</p>
        </span>
    </div>




</div>
