<!--<p>experiencia works!</p>-->
<div class="row">
    <H1>Experiencia Laboral</H1>
    <div class="col-lg-2">
        <button aria-label="Nueva" type="button" class="btn btn-dark" routerLink="/nuevaexp"*ngIf="isLogged" >
            Nueva Experiencia

        </button>

    </div>
    
<div class="col-lg-1"></div>
    <div class="col-lg-11">
    <table class="table">
        <tbody>
            <tr *ngFor="let Experiencia of expe">
                <td><h5>{{Experiencia.nombreE}}</h5></td>                
                <td>{{Experiencia.descripcionE}}</td>
                <td>Editar</td>
                <td>Borrar</td>
            </tr>
        <tbody>
    </table>
</div>
</div>