<!-- <p>logo-ap works!</p> -->
<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://argentinaprograma.inti.gob.ar"><img alt="" src="../../../assets/APLogo.png" id="logoAP"></a>
        </div>       
        <div class="redes">
        <a href="https://www.linkedin.com/in/pablo-hernandez-b1770a91/"><img alt="" src="../../../assets/linkedin.png" id="linkedin"></a>
        <a href="https://twitter.com/yoguimza"><img alt="" src="../../../assets/twitter.png" id="twitter"></a>
        <a href="https://www.instagram.com/yoguimza/"><img alt="" src="../../../assets/instagram.png" id="instagram"></a>
        <a href="https://github.com/yoguimza"><img alt="" src="../../../assets/github.png" id="github"></a>
        <a href="https://www.facebook.com/yogui.hernandez.mza"><img alt="" src="../../../assets/facebook.png" id="facebook"></a>
        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogout()" *ngIf="isLogged">SALIR</button>
        </div>        
    </div>
</div>


