<!-- <p>acerca-de works!</p> -->
<div class="row">
    <div>
        <img src="../../../assets/perfil.JPG"
        class="img-fluid">
    </div>
    <div>
        <p>Pablo Hernandez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div>
        <h1>Acerca de Mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nesciunt quis eveniet iusto ad quidem accusantium vero odio suscipit ipsum sint,
        unde explicabo expedita debitis quas magni laboriosam, incidunt reiciendis nulla!
    </p>
    </div>




</div>
